/*-----------------General Layout-----------------*/
html{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
body{
    width: 100% !important;
    height: 75%;
    padding: 0 !important;
    margin: 0 !important;
    transition-property: height;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
main{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}

header{
    min-height: 450px;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
footer{
    height: 25%;
    text-align: center;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0 !important;
    position: absolute;
    vertical-align: bottom !important;
}

/*-----------------Home Icon-----------------*/

#home-icon{
    color: black;
    font-size: 1.5em;
    position: fixed;
    top: 0.1em;
    right: 0.5em;
    z-index: 1;
}

/*-----------------Social Icon-----------------*/

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icons a {
    padding: 1em;
}

.social-icons a i{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 8px;
    color: black;
    font-size: 30px;
    border: 1px black solid;
    border-radius: 100px;
    margin-top: 60px;
}

.social-icons a i:hover {
    background-color: #a3d4d1;
}


/*-----------------Header-----------------*/

main {
    background-image: url(images/timber.jpg);
    background-position: left;
    background-size: cover;
    height: 100%;
    position: relative;
}

.summary{
    letter-spacing: .1em;
    box-shadow: grey 2px 2px 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    margin-top: 3em;
    font-family: 'Roboto Slab', serif;
    color: #eaeaea;
}


/*-----------------Footer-----------------*/

#nav-item-1 {
    background-color: #0da1bf;
}

#nav-item-2 {
    background-color: #987284;
}

#nav-item-3 {
    background-color: #81b29a;
}

#nav-item-4 {
    background-color: #c8c2ae;
}

#nav-item-1.hvr-ripple-out::before {
    border: rgba(13, 161, 191, 0.9) solid 6px !important;
}

#nav-item-2.hvr-ripple-out::before {
    border: rgba(152, 114, 132, 0.9) solid 6px !important;
}

#nav-item-3.hvr-ripple-out::before {
    border: rgba(129, 178, 154, 0.9) solid 6px !important;
}

#nav-item-4.hvr-ripple-out::before {
    border: rgba(200, 194, 174, 0.9) solid 6px !important;
}

.nav-all {
    font-family: 'Roboto Slab', sans-serif;
}

.nav-all h5 {
    text-decoration: underline;
}