/*-----------------General Layout-----------------*/
html{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
body{
    width: 100% !important;
    height: 75%;
    padding: 0 !important;
    margin: 0 !important;
    transition-property: height;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
main{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}

header{
    min-height: 450px;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
footer{
    height: 25%;
    text-align: center;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0 !important;
    position: absolute;
    vertical-align: bottom !important;
}

/*-----------------Home Icon-----------------*/

#home-icon{
    color: black;
    font-size: 1.5em;
    position: fixed;
    top: 0.1em;
    right: 0.5em;
    z-index: 1;
    
}

/*-----------------Header-----------------*/

main {
    background-image: url(images/timber.jpg);
    background-position: left;
    background-size: cover;
    height: 100%;
    position: relative;
}

.nav-link {
    color: black;
    background-color: rgba(49, 159, 151,0.5);
    border-top-left-radius: 50px !important;
    border-top-right-radius: 30px !important;
}

.nav-tabs .nav-link.active{
    background-color: #eaeaea;
    color: black;
}

.tab-pane {
    background-color: rgba(0, 0, 0, 0.3);
    color: #eaeaea;
    padding: 1em;
    overflow: scroll !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: transparent !important;
}

/*-----------------Footer-----------------*/

#nav-item-1 {
    background-color: #0eb1d2;
}

#nav-item-2 {
    background-color: #987284;
}

#nav-item-3 {
    background-color: #81b29a;
}

#nav-item-4 {
    background-color: #c8c2ae;
}

#nav-item-1.hvr-ripple-out::before {
    border: rgba(14, 177, 210, 0.9) solid 6px !important;
}

#nav-item-2.hvr-ripple-out::before {
    border: rgba(152, 114, 132, 0.9) solid 6px !important;
}

#nav-item-3.hvr-ripple-out::before {
    border: rgba(129, 178, 154, 0.9) solid 6px !important;
}

#nav-item-4.hvr-ripple-out::before {
    border: rgba(200, 194, 174, 0.9) solid 6px !important;
}

.nav-all {
    font-family: 'Roboto Slab', sans-serif;
}

.nav-all h5 {
    text-decoration: underline;
}