/*-----------------General Layout-----------------*/
footer{
    height: 25%;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 167px;
}



/*-----------------Home Icon-----------------*/

#home-icon{
    color: black;
    font-size: 1.5em;
    position: fixed;
    top: 0.1em;
    right: 0.5em;
    z-index: 20;
}

/*-----------------Page-1-----------------*/

.container-fluid {
    display: flex;
    flex-direction: column;
}

.carousel {
    padding: 0;
    width: 100%;
}

#carou-1 {
    background-image: url(images/climate-change.jpg);
    background-position: center;
    background-size: cover;
    min-height: 501px;
}

#carou-2 {
    background-image: url(images/coral.jpg);
    background-position: center;
    background-size: cover;
    min-height: 501px;
}

#carou-3 {
    background-image: url(images/biodiversity.jpg);
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    border-style: none;
    min-height: 501px;
}

#carou-4 {
    background-image: url(images/plastic.jpg);
    background-position: center;
    background-size: cover;
    min-height: 501px;
}
#carou-5 {
    background-image: url(images/manufacture.jpg);
    background-position: center;
    background-size: cover;
    min-height: 501px;
}
#carou-6 {
    background-image: url(images/deforest.jpg);
    background-position: center;
    background-size: cover;
    min-height: 501px;
}

#carou-7 {
    background-image: url(images/hero-1.jpg);
    background-position: center;
    background-size: cover;
    min-height: 501px;

}

#carou-1, #carou-2, #carou-3, #carou-4, #carou-5, #carou-6, #carou-7 {
    transition-property: height;
    transition-duration: 2s;
    transition-timing-function: ease-in-out
}

@media all and (min-width: 750px) {
    #carou-1, #carou-2, #carou-3, #carou-4, #carou-5, #carou-6, #carou-7 {
        min-height: 900px;
    }
}


.carousel-item {
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 1.2em;
    text-shadow: 4px 4px 8px black;
    text-align: center;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 10%;
  right: 10%;
  z-index: 6;
  color: white;
  text-shadow: 0 5px 5px rgba(0,0,0,.6);
  background-color: rgba(0,0,0,0.2);
  border-radius: 5px;
  top: 1em;
  padding: 0.5em;
}

@media all and (min-width: 750px)  {
    .carousel-item {
        font-size: 2em;
    }
}


.carou-all {
    padding:0;
}

.highlight {
    animation-name: highlight;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    border-radius: 3px;
}

@keyframes highlight {
    from {
        background-color: rgba(0,0,0,0);
        
    }
    to {
        background-color: rgba(0,0,0,0.6);
    }
}
/*-----------------Page-2-----------------*/

#page-2{
    background-image: url(images/timber.jpg);
    background-position: left;
    background-size: cover;
    height: 100%;
    position: relative;

}

#myTabContent{
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    margin: 12%;
    border-radius: 15px;
    font-size: 1.3em;
}

/*-----------------Page-3-----------------*/
.list-unstyled {
    margin:0;
}

.list-unstyled h1 {
    padding: .2em;
    font-family: 'Cabin Sketch', sans-serif;
}

#chapter-1 {
    background-color: #eaeaea;
}

#chapter-2 {
    background-color: #9fa2b2;
    color: #e9e6ff;
}
.media-body {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
}

.media-body h5 {
    color: darkseagreen;
    text-decoration: underline;
}

.media-body a {
    text-decoration: none;
}

.media {
    padding: 10px;
    padding-right: 40px;
}

.media img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

/*-----------------Page 4-----------------*/

/*timber background*/

#page-4{
    background-image: url(images/timber.jpg);
    background-position: left;
    background-size: cover;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Social Icons*/

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icons a {
    padding: 1em;
}

.social-icons a i{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 8px;
    color: black;
    font-size: 30px;
    border: 1px black solid;
    border-radius: 100px;
    margin-top: 60px;
}

.social-icons a i:hover {
    background-color: #a3d4d1;
}


/*Contact Form*/

.form-group{
    min-width: 300px;
}

#contact-form {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 1em;
    margin: 12%;
    font-family: 'Roboto Slab', serif;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*increase contact form size on bigger screens*/
@media only screen and (min-width:700px){
    #contact-form{
        min-width: 700px;
    }
    .form-group{
    min-width: 700px;
}

}

.form-control{
    background-color: #a3d4d1 !important;
    letter-spacing: .1em;
    box-shadow: grey 2px 2px 5px;
}

#send-deco{
    width: 6em;
    transition-property: background-color, border-color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    -moz-transition-property: background-color, border-color;
    -webkit-transition-property: background-color, border-color;
}
#send-deco:hover{
    background-color: #48a9a3 !important;
}

/*-----------------Page 5-----------------*/

#page-5{
    background-image: url(images/timber.jpg);
    background-position: left;
    background-size: cover;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#summary{
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    margin: 10%;
    border-radius: 15px;
    font-size: 1.3em;
}

/*-----------------Contents-----------------*/

/*-----------------Navbar-----------------*/


#nav-item-1 {
    background-color: #0da1bf;
}

#nav-item-2 {
    background-color: #987284;
}

#nav-item-3 {
    background-color: #81b29a;
}

#nav-item-4 {
    background-color: #c8c2ae;
}

#nav-item-1.hvr-ripple-out::before {
    border: rgba(13, 161, 191, 0.9) solid 6px !important;
}

#nav-item-2.hvr-ripple-out::before {
    border: rgba(152, 114, 132, 0.9) solid 6px !important;
}

#nav-item-3.hvr-ripple-out::before {
    border: rgba(129, 178, 154, 0.9) solid 6px !important;
}

#nav-item-4.hvr-ripple-out::before {
    border: rgba(200, 194, 174, 0.9) solid 6px !important;
}

.nav-all {
    font-family: 'Roboto Slab', sans-serif;
}

.nav-all h5 {
    text-decoration: underline;
}