/*-----------------General Layout-----------------*/
html{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
body{
    width: 100% !important;
    height: 75%;
    padding: 0 !important;
    margin: 0 !important;
    transition-property: height;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
main{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}

header{
    min-height: 300px;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: double;
    border-width: 3px;
    border-color: black;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
}
footer{
    height: 25%;
    text-align: center;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0 !important;
    position: absolute;
    vertical-align: bottom !important;
}

/*-----------------Home Icon-----------------*/

#home-icon{
    color: black;
    font-size: 1.5em;
    position: fixed;
    top: 0.1em;
    right: 0.5em;
    z-index: 1;
    
}
/*-----------------Nav-Right-Side-----------------*/

.nav-side-pane {
    display: flex;
    flex-direction: column;
    width: 95px;
    position: fixed;
}
.nav-side-pane a {
    text-align: left;
    border-width: 1px;
    border-left-color: black;
    border-style: solid;
}

#nav-item-1 {
    background-color: #0da1bf;
}

#nav-item-2 {
    background-color: #987284;
}

#nav-item-3 {
    background-color: #81b29a;
}

#nav-item-4 {
    background-color: #c8c2ae;
}

#nav-item-1.hvr-ripple-out::before {
    border: rgba(13, 161, 191, 0.9) solid 6px !important;
}

#nav-item-2.hvr-ripple-out::before {
    border: rgba(152, 114, 132, 0.9) solid 6px !important;
}

#nav-item-3.hvr-ripple-out::before {
    border: rgba(129, 178, 154, 0.9) solid 6px !important;
}

#nav-item-4.hvr-ripple-out::before {
    border: rgba(200, 194, 174, 0.9) solid 6px !important;
}

.nav-all {
    font-family: 'Roboto Slab', sans-serif;
    transition-property: right;
    transition-duration: 2s;
}

.nav-all:hover {
    right: 3.4em;
    z-index: 1;
}

.nav-all h5 {
    text-decoration: underline;
}


/*-----------------Headers/List-----------------*/

main {
    height: 100%;
    position: relative;
}

.list-unstyled {
    margin:0;
}

.list-unstyled h1 {
    padding: .2em;
    font-family: 'Cabin Sketch', sans-serif;
}

#chapter-1 {
    background-color: #eaeaea;
}

#chapter-2 {
    background-color: #9fa2b2;
    color: #e9e6ff;
}
.media-body {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
}

.media-body h5 {
    color: darkseagreen;
    text-decoration: underline;
}

.media-body a {
    text-decoration: none;
}

.media {
    padding: 10px;
    padding-right: 50px;
}

.media img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}